{% extends 'base1.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock%}
{% block content %}
 <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>{{title}} </h2>
                <div class="page_link">
                  <a href="{% url 'home'%}">Главная</a>
                  <a href="{% url 'about' %}">О нас</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Home Banner Area =================-->





    <!--================Blog Area =================-->
      {% for item in posts %}
    <section class="blog_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">

                                    <ul class="blog_meta list">
                                        <li><a href="{{item.get_absolute_url}}">{{item.teacher}}<i class="ti-user"></i></a></li>
                                        <li><a href="{{item.get_absolute_url}}">{{item.created_at|date:" d M Y"}}<i class="ti-calendar"></i></a></li>
                                        <li><a href="{{item.get_absolute_url}}">{{item.views}}<i class="ti-eye"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{{item.photo.url}}" alt="">
                                    <div class="blog_details">
                                        <a href="{{item.get_absolute_url}}">
                                            <h2>{{item.title}}</h2>
                                        </a>
                                        <p>{{item.content}}</p>
                                        <a href="{{item.get_absolute_url}}" class="blog_btn">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </article>


                    </div>
                </div>

            </div>
        </div>
    </section>
    {% endfor %}
{% endblock %}