              <ul class="{{menu_class}}">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">Главная</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">О нас </a>
                </li>
                {% for item in categories %}
                 <li class="nav-item">
                  <a class="nav-link" href="{{ item.get_absolute_url }}">{{item.title}} </a>
                </li>
                 {% endfor %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
                </li>

              </ul>





